body{
    background-image: linear-gradient(to bottom right, white, grey, darkgrey);
    background-size: 400% 400%;
    animation: animate 15s ease infinite alternate;
}

@keyframes animate {
    0%{background-position:  left;}
    50%{background-position: center;}
    100%{background-position: right;}
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note {
    font-size: 15px;
    color: black;
}

body {
    background-size: cover;
}

#song {
    font-size: 23px;
    margin: 15px;
}

canvas {
    width: 300px;
    height: 300px;
    border: darkcyan;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 10px 10px gray;
    border-style: solid;
    border-width: 4px;
    margin-top: 50px;
}